<!-- <div class="container">
  
    <p style="font-size: 30px;margin-left: 500px;text-decoration: underline;">JEWERLY</p>
    <div class="row"  >
      <div class="col-sm-4" *ngFor="let all of alls" (click)="onSelect(all)">
        <div class="row">
             <div class="col-sm-12">
              <div class="card" style="width: 100%;height: 100%;border: none;">
              <div class="imageBox">
              <div class="card-img">
                <img src={{all.images[0]}} style="width: 100%;height:100%;"/>
              </div>
              <div class="hoverImg">
                  <img src={{all.images[1]}} style="width: 100%;height:100%;"/>
            </div>
          </div>
              <h3 class="card-title">{{all.name}}</h3>
        <p class="card-text">{{all.designer}}</p> 
        <p>{{all.price}} EGP</p>
        
        </div>
      </div>
      </div>
      </div> 
  </div>
   -->