<div class="container">
  <p style="font-size: 30px;margin-left: 500px;text-decoration: underline;"></p>
  <div class="row">

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <img src=" assets/imges/img8/m2.png" style="width: 200px; height: 300px;margin-bottom: 50px;" />
          <img src="assets/imges/img8/m1.png" style="width: 200px; height: 300px;margin-bottom: 50px;" />


        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">

          <h4>AYO</h4>
          <p>Light Grey Yin Yang Sweatshirt</p>
          <p>590 EGP</p>
        </div>
      </div>
    </div>
  </div>
</div>
