<div class="footer container-fluid">
  <img src="https://www.mitcha.com/Themes/Uptown/Content/img/mitchaWhite.png" class="d-block m-auto mb-5" />
  <p>A CULTURE OF FASHION</p>
  <div class="footer_details container">
    <div class="row">
      <div class="col-md-2">
        <h1>GET TO KNOW US</h1>
        <a href="#" class="d-block">Our Story</a>
        <a href="# " class="d-block">How To Shop</a>
        <a href="#" class="d-block">FAQs</a>
      </div>
      <div class="col-md-2">
        <h1>LET US HELP YOU</h1>
        <a href="#" class="d-block">Contact Us</a>
        <a href="# " class="d-block">Payment</a>
        <a href="#" class="d-block">Delivery</a>
        <a href="#" class="d-block">Order Cancellation</a>
        <a href="#" class="d-block">Returns</a>
      </div>
      <div class="col-md-2">
        <h1>QUICK LINKS</h1>
        <a href="#" class="d-block">Terms And Conditions</a>
        <a href="# " class="d-block">Privacy Policy</a>
        <a href="#" class="d-block">Cookies Policy</a>
      </div>
      <div class="col-md-2">
        <h1>HELPFUL LINKS</h1>
        <a href="#" class="d-block">Leave Us A Comment</a>
        <a href="# " class="d-block">Gift Cards</a>
        <a href="#" class="d-block">FAQs</a>
      </div>
      <div class="col-md-2">
        <div class="float-left mr-2 mt-3" style="width:3px; height:55%;background-color: antiquewhite;"></div>
        <h1>FOLLOW US</h1>
        <a href="#" class="d-block"> Instagram</a>
        <a href="# " class="d-block">Youtube</a>
        <a href="#" class="d-block">Facebook</a>
      </div>
    </div>
    <p class="float-left font-weight-light">
      COPYRIGHT MITCHA 2019 | All Rights Reserved
    </p>
    <p class="float-right  font-weight-light">
      Crafted by TurnDigital 2019
    </p>
  </div>
</div>
