 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
   <title>Document</title>
 </head>
 <body>
   
 </body>
 </html>
 
 <div class="container-fluid">

  <app-nav-bar></app-nav-bar>
  <app-home></app-home>
  <br>
  <app-clothing></app-clothing>
  <app-jewelry></app-jewelry>
  <app-bags></app-bags>
<app-footer></app-footer>



</div>