<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          
             <div class="col-sm-12">
              <div class="card" style="width: 100%;height: 100%;border: none;">
              <div class="imageBox">
              <div class="card-img">
                <img src="https://www.mitcha.com/content/images/thumbs/0007716_bohemian-calf-hair-clutch.jpeg" style="width: 100%;height:100%;"/>
              </div>
              <div class="hoverImg">
                  <img src="https://www.mitcha.com/content/images/thumbs/0007731_bohemian-calf-hair-clutch.jpeg" style="width: 100%;height:100%;"/>
            </div>
          </div>
              <h3 class="card-title">PAPAYAS</h3>
        <p class="card-text">Colored Ocean Crystals</p> 
        <p>675 EGP</p>
        </div>
      </div>
      <div class="col-sm-12">
          <div class="card" style="width: 100%;height: 100%;border: none;">
          <div class="imageBox">
            <div class="card-img">
                <img src="https://www.mitcha.com/content/images/thumbs/0007716_bohemian-calf-hair-clutch.jpeg" style="width: 100%;height:100%;"/>
              </div>
              <div class="hoverImg">
                  <img src="https://www.mitcha.com/content/images/thumbs/0007731_bohemian-calf-hair-clutch.jpeg" style="width: 100%;height:100%;"/>
            </div>
      </div>
          <h3 class="card-title">BENALYA JEWELRY</h3>
    <p class="card-text">Colored Ocean Crystals</p> 
    <p>675 EGP</p>
    </div>
  </div>
      </div>
      </div>
      <div class="col-sm-4">
          <div class="row">
              <div class="col-sm-12">
                  <div class="card" style="width: 100%;height: 100%;border: none;">
                <div class="imageBox">
                <div class="card-img">
                  <img src="https://www.mitcha.com/content/images/thumbs/0007631_boho-queen-calf-skin-handbag.jpeg" style="width: 100%;height:100%;"/>
                </div>
                <div class="hoverImg">
                    <img src="https://www.mitcha.com/content/images/thumbs/0007630_boho-queen-calf-skin-handbag.jpeg" style="width: 100%;height:100%;"/>
              </div>
            </div>
            <h3 class="card-title">BENALYA JEWELRY</h3>
            <p class="card-text">Bolt Earrings</p> 
            <p>1000 EGP</p>
          </div>
          </div>
          <div class="col-sm-12">
              <div class="card" style="width: 100%;height: 100%;border: none;">
            <div class="imageBox">
                <div class="card-img">
                    <img src="https://www.mitcha.com/content/images/thumbs/0007631_boho-queen-calf-skin-handbag.jpeg" style="width: 100%;height:100%;"/>
                  </div>
                  <div class="hoverImg">
                      <img src="https://www.mitcha.com/content/images/thumbs/0007630_boho-queen-calf-skin-handbag.jpeg" style="width: 100%;height:100%;"/>
                </div>
        </div>
        <h3 class="card-title">BENALYA JEWELRY</h3>
        <p class="card-text">Bolt Earrings</p> 
        <p>1000 EGP</p>
      </div>
      </div>
        </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <!-- <div class="card-body"> -->
               <div class="col-sm-12">
                <div class="card" style="width: 100%;height: 100%;border: none;">
                <div class="imageBox">
                <div class="card-img">
                  <img src="https://www.mitcha.com/content/images/thumbs/0009068_camel-x-black-suede-cross-bag.jpeg" style="width: 100%;height:100%;"/>
                </div>
                <div class="hoverImg">
                    <img src="https://www.mitcha.com/content/images/thumbs/0008890_camel-x-black-suede-cross-bag.jpeg" style="width: 100%;height:100%;"/>
              </div>
            </div>
            <h3 class="card-title">DINA KAMEL</h3>
          <p class="card-text">Colored Ocean Crystals</p> 
          <p>675 EGP</p>
          </div>
          </div>
          <div class="col-sm-12">
              <div class="card" style="width: 100%;height: 100%;border: none;">
              <div class="imageBox">
                <div class="card-img">
                    <img src="https://www.mitcha.com/content/images/thumbs/0009068_camel-x-black-suede-cross-bag.jpeg" style="width: 100%;height:100%;"/>
                  </div>
                  <div class="hoverImg">
                      <img src="https://www.mitcha.com/content/images/thumbs/0008890_camel-x-black-suede-cross-bag.jpeg" style="width: 100%;height:100%;"/>
                </div>
          </div>
          <h3 class="card-title">DINA KAMEL</h3>
        <p class="card-text">Colored Ocean Crystals</p> 
        <p>675 EGP</p>
        </div>
        </div>
        <!-- </div> -->
        </div>
        </div>
      
    </div>
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </div>
  