<div class="container">
  <hr />
  <div class="signup-form">
    <form #signUp="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <p>Please fill in this form to create an account!</p>
      <hr />
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input
            type="text"
            class="form-control"
            name="firstname"
            [(ngModel)]="userModel.firstname"
            required
            placeholder="first name"
            [class.is-invalid]="firstname.invalid && firstname.touched"
            #firstname="ngModel"
          />
          <small
            class="text-danger"
            [class.d-none]="firstname.valid || firstname.untouched"
            >Enter first name</small
          >
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input
            type="text"
            class="form-control"
            name="secondname"
            [(ngModel)]="userModel.secondname"
            required
            placeholder="last name"
            [class.is-invalid]="lastName.invalid && lastName.touched"
            #lastName="ngModel"
          />
          <small
            class="text-danger"
            [class.d-none]="lastName.valid || lastName.untouched"
            >Enter last name</small
          >
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"
            ><i class="fa fa-paper-plane"></i
          ></span>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="userModel.email"
            required
            placeholder="email"
            [class.is-invalid]="email.invalid && email.touched"
            #email="ngModel"
          />
          <small
            class="text-danger"
            [class.d-none]="email.valid || email.untouched"
            >Email is Required</small
          >
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="userModel.password"
            required
            placeholder="password"
            [class.is-invalid]="password.invalid && password.touched"
            #password="ngModel"
          />
          <small
            class="text-danger"
            [class.d-none]="password.valid || password.untouched"
            >Password is Required</small
          >
        </div>
      </div>

      <div class="form-group ">
        <button
          type="submit"
          [disabled]="signUp.form.invalid"
          class="btn btn-dark btn-block"
        >
          Sign Up
        </button>
        <br />
        <p>Do you Have account ?</p>
        <button
          type="button"
          class="btn btn-dark btn-block"
          routerLink="/user/login"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
