<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="card-body">
          <div class="col-sm-12">
            <div class="imageBox">
            <div class="card-img">
              <img src="https://www.mitcha.com/content/images/thumbs/0007953_double-trouble-earrings_160.jpeg"/>
            </div>
            <div class="hoverImg">
                <img src="https://www.mitcha.com/content/images/thumbs/0007836_double-trouble-earrings_160.jpeg"/>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>

    <div class="col-sm-4">
        <div class="row">
          <div class="card-body">
            <div class="col-sm-12">
              <div class="imageBox">
              <div class="card-img">
                <img src="https://www.mitcha.com/content/images/thumbs/0007953_double-trouble-earrings_160.jpeg"/>
              </div>
              <div class="hoverImg">
                  <img src="https://www.mitcha.com/content/images/thumbs/0007836_double-trouble-earrings_160.jpeg"/>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="card-body">
            <div class="col-sm-12">
              <div class="imageBox">
              <div class="card-img">
                <img src="https://www.mitcha.com/content/images/thumbs/0007953_double-trouble-earrings_160.jpeg"/>
              </div>
              <div class="hoverImg">
                  <img src="https://www.mitcha.com/content/images/thumbs/0007836_double-trouble-earrings_160.jpeg"/>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
  </div>
</div>
