<div class="container">
  <p style="font-size: 30px;margin-left: 500px;text-decoration: underline;"></p>
  <div class="row">
    <!-- Images Div -->
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <img src="https://www.mitcha.com/content/images/thumbs/0007166_colored-ocean-crystals.jpeg"
            style="width: 200px; height: 300px;margin-bottom: 50px;" />
          <img src="https://www.mitcha.com/content/images/thumbs/0007164_colored-ocean-crystals.jpeg"
            style="width: 200px; height: 300px;margin-bottom: 50px;" />
        </div>
      </div>
    </div>
    <!-- Div of product name ,price,description and designer with buutton add to cart-->
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <!-- <input type="submit" value="Add to cart" name="btn" id="btnid"> -->
          <h3>DINA KAMEL</h3>
          <p>Colored Ocean Crystals</p>
          <p>675 EGP</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-bagsdetails></app-bagsdetails> -->
